<!DOCTYPE html>
<html>

<head>
<title>Page Title</title>

<style> 
    #user_section{
        text-align:right;
        padding-bottom: 30px;

    } 
    body {
        text-align:center
    }
  
</style>
 

</head>

<body>
    
<div id="user_section">  
    <p>Username:</p>   
</div>

<div id="image">  
    <img src="https://www.bossbilisim.com/Uploads/UrunResimleri/buyuk/3Dconnexion-SpaceMouse-Enterprise-Left-h-5989.jpg" width="300" height="300" alt="Italian Trulli">    
</div>

<div>   
    <form action="">
        <input class="Masked" type="radio"  name="button" value="Masked"> Masked<br>
        <input class="Unmasked" type="radio"  name="button" value="Unmasked"  >  Unmasked<br>
    </form>
</div>

<div>  
    <button type="button">Undo</button>
    <button type="button">Delete</button>
    <button type="button">Submit</button>
</div>

</body>

</html>